@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgba(217, 217, 217, 0.2);
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.arrow-top {
  position: absolute;
  top: -10px;
  left: 20px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #f9f9f9;
}

.arrow-bottom {
  position: absolute;
  bottom: -10px;
  left: 20px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #f9f9f9;
}

.arrow-left {
  position: absolute;
  top: 20px;
  left: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #f9f9f9;
}

.arrow-right {
  position: absolute;
  top: 20px;
  right: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #f9f9f9;
}
